extends layout
block content
    div.container
        if Message && Message.length
            div(class='alert alert-danger') #{Message}
    div.row
        div(class='jumbotron' id='indexJumbotron')
            div.container
                h1 Welcome to Smartfolio
                p= headline
                p
                    a(class='btn btn-primary btn-lg' href='/signup' role='button') Register Now
                    &nbsp
                    a(class='btn btn-default btn-lg' href='/learnmore' role='button') Learn More
        div(class='row')
            div(class='col-sm-6 col-md-4')
                div(class='thumbnail')
                    a(href='/market')
                        img(src='images/dashboard.png' class='img-rounded')
                    div.caption
                        h3 Markets
                        p= market_subtitle
                        p(class='text-center')
                            a(href='/market' role='button' class='btn btn-info') Markets
            div(class='col-sm-6 col-md-4')
                div(class='thumbnail')
                    a(href='/portfolio')
                        img(src='images/portfolio.png' class='img-rounded')
                    div.caption
                        h3 Portfolios
                        p= portfolio_subtitle
                        p(class='text-center')
                            a(href='/portfolio' role='button' class='btn btn-info') Portfolios
            div(class='col-sm-6 col-md-4')
                div(class='thumbnail')
                    a(href='/insight')
                        img(src='images/idea.png' class='img-rounded')
                    div.caption
                        h3 Insights
                        p= insight_subtitle
                        p(class='text-center')
                            a(href='/insights' role='button' class='btn btn-info') Insights