extends layout_auth
block page-specific-js-css
    link(rel='stylesheet', href='/stylesheets/nv.d3.min.css')
block content
    div.row
        div(class='col-md-12' id='panelList')
            h4 #{header} (#{portfolioname}) &nbsp
                small Cash Balance: #{balance} &nbsp
                    button(class='btn btn-warning btn-xs') Recharge &nbsp
                        span(class='glyphicon glyphicon-flash')
            br
    div.row
        div.col-md-6
            div(class='panel panel-primary')
                div(class='panel-heading') Portfolio Composition
                div(class='panel-body')
                    canvas(id='myChart')
        div.col-md-6
            div(class='panel panel-primary')
                div(class='panel-heading') Portfolio Composition
                div(class='panel-body')
                    div(class='svg-container')
                    div(id='nv-donut-chart')
    div.row
        table(class='table table-condensed table-hover')
            thead(class='table-hover')
                h4 Stocks in #{header}
                tr(class='info' id='header')
                    th Buy
                    th Sell
                    th Date
                    th Ticker (Symbol)
                    th Company
                    th Price
                    th Quantity
            tbody(class='table-hover' id='quoteBody')
                td
                    button(onclick='fillBuyStockForm();' type='button' data-toggle='modal' data-target='#buyStock')
                        span(class='glyphicon glyphicon-plus')
                td
                    button(onclick='fillSellStockForm();' type='button' data-toggle='modal' data-target='#buyStock')
                        span(class='glyphicon glyphicon-minus')
                td 2016/04/26
                td AAPL
                td APPLE
                td $12
                td 10000
    div(class='modal fade' id='buyStock' tabindex='-1' role='dialog' aria-labelledby='buyStockLabel')
        div(class='modal-dialog' role='document')
            div.modal-content
                div.modal-header
                    button(type='button' class='close' data-dismiss='modal' aria-label='Close' id='close') x
                    h4(class='modal-title' id='buyStockLabel') Buy/Sell Stock
                div.modal-body
                    h4 Latest Price: &nbsp
                        span(class='label label-warning' id='latestPrice')
                    h4 Portfolio Id:
                        span(class='label label-info' id='pId')= pid
                    div.input-group
                        span(class='input-group-addon' id='basic-addon1') Ticker: APPL
                    div.input-group
                        span(class='input-group-addon' id='basic-addon2') Quantity
                        input(type='text' id='quantity' onkeyup='getTotalAmount();' class='form-control' placeholder='E.g. 1000' aria-describedby='basic-addon2')
                    div(class='alert alert-danger' role='alert')
                        | Total Dollar Amount:
                        span(class='label label-danger' id='totalAmount')
                div.modal-footer
                    button(type='button' class='btn btn-default' data-dismiss='modal' id='close') Close
                    button(type='button' onclick='addPortfolio();' class='btn btn-primary' data-dismiss='modal') Submit
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js')
    script(type='text/javascript' src='/javascripts/nv.d3.min.js')
    script(type='text/javascript' src='/javascripts/Chart.min.js')
    script(type='text/javascript' src='/javascripts/portfolio_actions.js')